:root{
  --bg: #131419;
  --neptune:#606be9;
  --neptune_light: #6f78e5;
  --neptune_dark:rgb(35, 51, 125);
}
* {
  text-transform: uppercase;
  font-family:'Chakra Petch', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html{
  overflow: scroll !important;
  background-color: var(--bg);
  background-image: url('./neptune.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100vh;
  -o-background-size: 100vh;
  background-size: 100vh;
  background-position: calc(100vw - 50vh) 0;

  font-size: 20px;
  color: #fff;
}
body{


  background-image: radial-gradient(circle at 100%, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 59vh, var(--neptune_dark) 63vh,
  rgba(0,212,255,0) 67vh);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.text{
  font-size: 0.9rem;
  padding: 10px 10px;
  vertical-align: bottom;
}

.wrapper {
  overflow: scroll;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

}


.t-wrapper{

  color: white;
  text-align: center;
}

.title{
  margin-block: 0px;
  margin: 20px 5px;
  width: 100%;
  font-size: 2rem;
  align-self: center;

}
.t-title{
  color: #5c99fb;
  font-family: 'Bai Jamjuree';
}

.form{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.submit{
  line-height: 0;
  border-radius: 10px;
  border-width: 2px;
  margin: 0 5px;
  padding: 5px 10px;
  width: auto;
}
.t-submit{
  color: #fff;
  font-size: 1.5rem;
  border-color: var(--neptune);
  background-color: var(--neptune);
  border-style: solid;
}
.submit:hover{
  cursor: pointer;
  background-color: var(--neptune_light);
}

.select{
  font-size: 1rem;
  width: min-content;
  block-size: border-box;
  display: block;
  border: 0;
  margin: 0 5px;
  opacity: 0.9;
}
.select:hover{
  cursor: pointer;
  opacity: 1;
}



.t-select{
  color: #fff;

  background-color: rgba(0,0,0,0);
  margin: 0 5px;
}
.select>option{
  font-size: 1rem;
}


.input{
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 15px;
}
.t-input{
  font-size: 1rem;
  background-color: rgba(0,0,0,0);
  border-style: solid;
  appearance: none;
  outline: none;
  color: #fff;
  border-color: var(--neptune);

}

.result{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0px;
}

.result:hover{
  cursor: pointer;
}

.t-result{}

.result-wrapper{
  width:75%;
  margin: 25px auto;
  min-width: 300px;
}

@media screen and (max-width: 660px) {
  .form{
    flex-direction: column;
    justify-content: space-around;
  }
  .submit{
    width: 50%;
  }
}

.icon{
  vertical-align: bottom;
}


.card{
  padding: 50px;
  border-radius: 50px;
  width: 75%;
}
.t-card{
  background-color: rgba(0, 0, 0, 0.33);
}
.progressBar{
  width: 30em;
  height: 0px;
  margin: 50px auto;
  border: rgba(31, 67, 187, 0.56) solid 3px;
  border-radius: 5px;

}
.progress{
  width: 0%;
  height: 0px;
  border: rgb(31, 67, 187) solid 3px;
  border-radius: 5px;
  margin-top: -3px;
}

.close{
  display: none;
}

.accordion-title{
  font-family: 'Chakra Petch', -apple-system, sans-serif;
  font-weight: 700;
}